<h2>Welcome, <%= user.username %>!</h2>
<h3>Your Posts</h3>
<ul>
    <% posts.forEach(post=> { %>
        <li>
            <h4>
                <%= post.title %>
            </h4>
            <p>
                <%= post.content %>
            </p>
            <a href="/posts/edit/<%= post._id %>">Edit</a> |
            <a href="/posts/delete/<%= post._id %>">Delete</a>
        </li>
        <% }) %>
</ul>
<a href="/posts/create">Create a New Post</a>
<a href="/logout">Logout</a>